header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, .1);
  width: 100%;
  padding: 18px;
}

nav {
  display: flex;
  gap: 36px;
}

a {
  color: #a53f2b;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-size: 16px;
}

nav > a {
  border-bottom: 2px solid transparent;
  font-size: 18px;
  font-weight: bold;
}

.nav-link {
  font-weight: bolder;
  color: #880d1e;
}

a:hover {
  border-bottom: 1px solid #a53f2b;
  color: #a53f2b;
}

nav > a:hover {
  border-bottom: 2px solid #a53f2b;
  color: #a53f2b;
}

.link-container {
  padding: 4px 12px;
}

.subsection {
  padding-left: 24px;
}

.logo {
  height: 3em;
  will-change: filter;
  transition: filter 300ms;
}
footer, body{
  margin-top: 0;
  padding-top: 0;
}

.footer-scroll {
  display: none;
}